.card {
  padding: 30px;
  border: 0.5px inset var(--color-dark);
  border-radius: 5px;
  position: relative;
  display: grid;
  gap: 10px;
}

.card__bg {
  background-color: var(--color-card);
}

.card__bookmark {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -10px;
  right: 14px;
  border: none;
  background-color: transparent;
}

.card__bookmark--filled {
  fill: var(--color-dark);
}

.card__hide {
  display: none;
}

.card__tag {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: var(--color-card-tag);
  font-size: small;
}
