.create {
  display: grid;
}

.create__headings {
  margin-top: 20px;
}

.create__inline {
  display: inline;
}

.create__counter {
  color: var(--color-counter);
  text-align: end;
}

.card__input {
  border: 0.5px solid var(--color-border);
  border-radius: 5px;
  color: var(--color-text);
  background-color: var(--color-card);
}
