<main class="app-grid__scrollarea bg-main">
  <form class="create">
    <section>
      <label for="add-question" class="create__headings">Add a question:</label>
      <textarea
        name="add-question"
        id="add-question"
        cols="30"
        rows="10"
        placeholder="Enter your question..."
        required
      ></textarea>
    </section>
    <section>
      <label for="add-answer" class="create__headings">Add an answer:</label>
      <textarea
        name="add-answer"
        id="add-answer"
        cols="30"
        rows="10"
        placeholder="Enter your answer..."
        required
      ></textarea>
    </section>
    <section>
      <label for="add-tags" class="create__headings">Add tags:</label>
      <textarea
        class="mb-20"
        name="add-tags"
        id="add-tags"
        cols="30"
        rows="5"
        placeholder="Enter your tags divided by comma..."
        required
      ></textarea>
    </section>
    <button class="button">SUBMIT</button>
  </form>
</main>
