.form {
  display: grid;
}

.form__headings {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.form__inline {
  display: inline;
}

.form__counter {
  color: var(--color-counter);
}

.card__input {
  border: 0.5px solid var(--color-border);
  border-radius: 5px;
  color: var(--color-text);
  background-color: var(--color-card);
}
