.profile {
  display: grid;
  gap: 20px;
  border: 0.5px solid var(--color-border);
  border-radius: 5px;
  background-color: var(--color-card);
  margin: 1rem;
  padding: 1.5rem;
}

.profile__img {
  border-radius: 50%;
}

.profile__centered {
  display: inherit;
  place-items: center;
}

.profile__tag {
  padding: 10px 15px;
  border-radius: 3px;
  border: 0.5px solid var(--color-border);
  background-color: var(--color-card-tag);
  font-size: small;
}
