.profile {
  display: grid;
  gap: 20px;
}

.profile__img {
  border-radius: 50%;
}

.profile__centered {
  display: inherit;
  place-items: center;
}

.profile__tag {
  padding: 10px 15px;
  border-radius: 3px;
  background-color: var(--color-card-tag);
  font-size: small;
}
