<div class="app-grid h-500">
  <header class="p-auto bg-hotpink">QUIZ-APP</header>
  <main class="app-grid__scrollarea bg-blue">
    <div class="h-100vh">
      <article class="card p-20 m-20">
        <h2>QUESTION:</h2>
        <img src="#" alt="bookmark" class="bookmark" />
        <p class="ml-20">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit
          unde vitae numquam distinctio temporibus sapiente eligendi sunt? Sed
          nostrum iste sit quam ullam! Commodi repellendus accusamus sit dolorem
          labore magnam.
        </p>
        <button class="flex m-auto">SHOW ANSWER</button><br />
        <ul role="list" class="flex justify-evenly">
          <li class="p__tag">Tag1</li>
          <li class="p__tag">Tag2</li>
          <li class="p__tag">Tag3</li>
          <li class="p__tag">Tag4</li>
        </ul>
      </article>
    </div>
  </main>
  <nav class="app-grid__nav bg-coral">
    <img src="#" alt="home" />
    <img src="#" alt="bookmark" />
    <img src="#" alt="create" />
    <img src="#" alt="profile" />
  </nav>
</div>
