<article class="card position-relative p-20 m-20">
  <img
    src="/images/bookmark.png"
    alt="bookmark"
    class="position-absolute bookmark"
  />
  <h2>QUESTION:</h2>
  <p class="ml-20">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit unde
    vitae numquam distinctio temporibus sapiente eligendi sunt? Sed nostrum iste
    sit quam ullam! Commodi repellendus accusamus sit dolorem labore magnam.
  </p>
  <button class="flex m-auto">SHOW ANSWER</button><br />
  <ul role="list" class="flex justify-evenly">
    <li class="p__tag">Tag1</li>
    <li class="p__tag">Tag2</li>
    <li class="p__tag">Tag3</li>
    <li class="p__tag">Tag4</li>
  </ul>
</article>
