.create {
  display: grid;
}

.create__headings {
  margin-top: 20px;
}

.create__inline {
  display: inline;
}

.create__counter {
  color: var(--color-counter);
  text-align: end;
}

textarea {
  border: 1px solid var(--color-dark);
}
