<div class="app-grid h-500">
  <header></header>
  <main class="app-grid__scrollarea">
    <div class="h-100vh"></div>
  </main>
  <nav class="app-grid__nav bg-coral">
    <a href="../../index.html" class="active"
      ><img src="../../images/house-fill.svg" alt="home"
    /></a>
    <a href="../../bookmarks.html"
      ><img src="../../images/bookmarks.svg" alt="bookmarks"
    /></a>
    <a href="../../create.html"
      ><img src="../../images/pencil-fill.svg" alt="create"
    /></a>
    <a href="../../profile.html"
      ><img src="../../images/person-fill.svg" alt="profile"
    /></a>
  </nav>
</div>
