<nav class="nav__grid bg-navbar">
  <a href="../../index.html" class="nav__a nav__border-right active"
    ><img src="../../images/house-fill.svg" alt="home" class="nav__img"
  /></a>
  <a href="../../bookmarks.html" class="nav__a nav__border-right"
    ><img src="../../images/bookmarks.svg" alt="bookmarks" class="nav__img"
  /></a>
  <a href="../../create.html" class="nav__a nav__border-right"
    ><img src="../../images/pencil-fill.svg" alt="create" class="nav__img"
  /></a>
  <a href="../../profile.html" class="nav__a"
    ><img src="../../images/person-fill.svg" alt="profile" class="nav__img"
  /></a>
</nav>
