.nav__grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  border-top: 1px solid var(--color-dark);
  height: 48px;
}

.nav__bg {
  background-color: var(--color-navbar);
}

.nav__button {
  display: grid;
  place-items: center;
  border: 0.5px solid var(--color-dark);
  background-color: var(--color-navbar);
}

.nav__border-right {
  border-right: 1px solid var(--color-dark);
}

.nav__img {
  width: 30px;
  height: 30px;
}

.nav__active {
  opacity: 0.5;
}
