.nav__grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  height: 48px;
  background-image: linear-gradient(var(--color-main), var(--color-navbar));
}

.nav__button {
  display: grid;
  place-items: center;
  border: 0.5px solid var(--color-dark);
  border-bottom: 0.5px solid var(--color-navbar);
  border-radius: 9px 9px 0 0;
  background-color: var(--color-navbar);
  z-index: 2;
}

.nav__img {
  width: 30px;
  height: 30px;
}

.nav__active {
  transform: translateY(-12px);
  transition: all 0.1s ease;
}

.nav__bottom {
  position: absolute;
  bottom: 0;
  width: 25vw;
  height: 48px;
  background-color: var(--color-navbar);
  z-index: 1;
  border: 0.5px solid var(--color-dark);
  border-radius: 9px 9px 0 0;
}

.nav__bottom-two {
  left: 25vw;
}
.nav__bottom-three {
  left: 50vw;
}
.nav__bottom-four {
  left: 75vw;
}
