<div class="app-grid h-500">
  <header></header>
  <main class="app-grid__scrollarea">
    <div class="h-100vh"></div>
  </main>
  <nav class="grid__nav">
    <a href="../../index.html" class="nav__a active"
      ><img src="../../images/house-fill.svg" alt="home" class="nav__img"
    /></a>
    <a href="../../bookmarks.html" class="nav__a"
      ><img src="../../images/bookmarks.svg" alt="bookmarks" class="nav__img"
    /></a>
    <a href="../../create.html" class="nav__a"
      ><img src="../../images/pencil-fill.svg" alt="create" class="nav__img"
    /></a>
    <a href="../../profile.html" class="nav__a"
      ><img src="../../images/person-fill.svg" alt="profile" class="nav__img"
    /></a>
  </nav>
</div>
