<main class="app-grid__scrollarea bg-main profile">
  <figure class="profile__centered">
    <img
      src="https://source.unsplash.com/random/200x200/?person"
      alt="profile-foto"
      width="100"
      height="100"
      class="profile__img"
    />
    <figcaption>Hans Muster</figcaption>
  </figure>
  <section>
    <h2 class="profile__centered">About me:</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, labore
      laborum dolor modi veniam dolorem, accusamus temporibus rerum quisquam
      facere voluptatum nisi, officiis officia provident molestiae quaerat.
      Inventore, placeat iusto?
    </p>
  </section>
  <section>
    <h2 class="profile__centered">Skills</h2>
    <ul role="list" class="flex justify-evenly gap-5">
      <li class="card__tag">Tag1</li>
      <li class="card__tag">Tag2</li>
      <li class="card__tag">Tag3</li>
      <li class="card__tag">Tag4</li>
    </ul>
  </section>
  <button>LOGOUT</button>
</main>
