.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile__img {
  border-radius: 50%;
}

.profile__text {
  display: inherit;
  place-items: center;
}

.profile__button {
  margin-top: 20px;
  padding: 5px 10px;
}
