*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  text-align: center;
}

ul[role="list"] {
  list-style: none;
}

li {
  border: 1px solid black;
}

nav > img:not(:last-of-type) {
  border-right: 1px solid black;
}

img {
  width: 44px;
  height: 44px;
}
