*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

h2 {
  margin-bottom: 10px;
}

ul[role="list"] {
  list-style: none;
}

li {
  border: 1px solid black;
}

button {
  cursor: pointer;
}

/* answer field */

details {
  text-align: center;
}

details > p {
  position: relative;
  font-style: italic;
}

summary {
  cursor: pointer;
  list-style: none;
  font-weight: bold;
}

summary::before {
  content: "SHOW ANSWER";
}

details[open] summary::before {
  content: "HIDE ANSWER";
}

/* nav */

nav > a {
  margin-top: auto;
  margin-bottom: auto;
}

nav > a:not(:last-child) {
  border-right: 1px solid black;
}

nav > a > img {
  width: 30px;
  height: 30px;
}
