.m-auto {
  margin: auto;
}

.m-20 {
  margin: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-40 {
  margin: 40px !important;
}

.ml-20 {
  margin-left: 20px;
}

.h-500 {
  height: 500px;
}

.h-100vh {
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-5 {
  gap: 5px;
}

.justify-evenly {
  justify-content: space-evenly;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.hidden {
  display: none;
}

.welcome-img {
  padding-left: 30px;
}
