.p-auto {
  padding: auto;
}

.p-20 {
  padding: 20px;
}

.p__tag {
  padding: 5px 10px;
  background-color: navajowhite;
}

.m-auto {
  margin: auto;
}

.m-20 {
  margin: 20px;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px;
}

.h-500 {
  height: 500px;
}

.h-100vh {
  height: 100vh;
}

.bg-blue {
  background-color: var(--color-blue);
}

.bg-coral {
  background-color: var(--color-orange);
}

.bg-hotpink {
  background-color: hotpink;
}

.flex {
  display: flex;
}

.justify-evenly {
  justify-content: space-evenly;
}

.card {
  height: auto;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 45px 1fr 1fr 55px;
}

.active {
  opacity: 0.5;
}

.bookmark {
  top: -10px;
  right: 14px;
  border: none;
  background-color: var(--color-blue);
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}
